* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
.main_body, footer{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.first__section{
    height: 822px;
    position: relative;
    background: url('../assets/first_section_bg.svg') no-repeat center center;
    margin: 0 auto;
    padding-top: 270px;
    background-size: cover;
}
.third__section{
    background: url("../assets/second_section_bg.svg") no-repeat center center;
    background-size: cover;
    position: relative;
    height: 666px;
    display: flex;
}
.third__section__blured{
    background: rgba(140, 79, 42, 0.30);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 83px;
}
h1{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 
    margin: 13px auto 42px auto;
}
.first_section_header2{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.second_section_heading2{
    color: #464547;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin: 87px auto 40px auto;
}
.second_section_heading3{
    color: #666;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}
.second_section_paragraph{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-align: left;
}
.second_section_button{
    border-radius: 18px;
    background-color: #55C2D8;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.4px;
    margin: 51px auto 98px auto;
    border: none;
    padding: 6px 18px;
}
.paragraphs_section {
    max-width: 983px;
    margin: 0 auto;
}

.third_section_heading{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 53px;
}
.third__section__button{
    background-color: #55C2D8;
    color: #FFF;
    border: none;
    border-radius: 50%;
    width:150px;
    height: 150px;
    font-size: 84px;
    text-align: center;
}
.third__section__paragraph{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 70px;
}

footer{
    height: 170px;
    background: #464547;
    text-align: left;
    
}
.footer__content{
    padding-top: 20px;
}
.footer__logo_text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.footer_text{
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
h1,h2 {
    font-family: 'Oswald', sans-serif;
}

a {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 50;
}

[class*=__container] {
    max-width: 907px;
    margin: 0px auto;
}

ul li {
    list-style: none;
}
a, a:visited {
    text-decoration: none;
  }

.header__container {
    display: flex;
    align-items: center;
    gap: 165px;
    margin-top: 49px;
}

.menu__list {
    display: flex;
    gap: 30px;
}
  
.active__menu{
    text-decoration: underline;
}
.paragraphs_section{
    display: flex;
    gap: 83px;
}
.paragraphs_section_second{
    width: 416px;
    text-align: left;
}

.paragraphs_section_first{
    width: 408px;
    text-align: left;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    row-gap: 25px;
}
  
.grid-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
  
.grid-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}
  
.grid-item:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
}
  
.grid-item:nth-child(4) {
    grid-column: 6 / span 2;
    grid-row: 2;
}